header.main-header
  .container
    .main-header__container
      .main-header__logo
         a(href="#")
            img(src="assets/i/main-header/logo.svg" alt="logo")
      .main-header__small-logo
        img(src="assets/i/main-header/small-logo.svg" alt="small-logo")
      ul.main-menu
          li
              a(href="/") Home
          li
              a(href="/servizi.html") Servizi 
          li
              a(href="/chi-siamo.html") Chi siamo 
          li
              a(href="/news.html") News 
          li
              a(href="/fatturazione-elettronica.html") Fatturazione Elettronica 
          li
              a(href="/contatti.html") Contatti 
