body {
  position: relative;
	margin: 0;
	padding: 0;
  padding-bottom: 30000px;
	font-family: $font_2;
	font-size: 18px;
	color: #000;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 1px;
    height: 100%;
    background: green;
    z-index: 100000;
  }
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
}

ul {
	list-style-type: none;
	li {
		list-style-type: none;
	}
}
a {
  text-decoration: none;
  color: inherit;
}

p {
	margin: 0;
	padding: 0;
}

.hidden {
	display: none;
}

.container {
	margin: 0 auto;
	max-width: 1400px;
	width: 100%;
}

input[type="submit"]:disabled {
	cursor: not-allowed !important;
	opacity: 0.6 !important;
}
