//100	Тонкий (Волосяной) Thin (Hairline)
//200	Дополнительный светлый (Сверхсветлый) Extra Light (Ultra Light)
//300	Светлый Light
//400	Нормальный Normal
//500	Средний Medium
//600	Полужирный Semi Bold (Demi Bold)
//700	Жирный Bold
//800	Дополнительный жирный (Сверхжирный) Extra Bold (Ultra Bold)
//900	Черный (Густой)Black (Heavy)

@font-face {
	font-family: "Averta";
	src: url("../fonts/Averta-Regular.woff2") format("woff2"), url("../fonts/Averta-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Averta";
	src: url("../fonts/Averta-Semibold.woff2") format("woff2"), url("../fonts/Averta-Semibold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Averta";
	src: url("../fonts/Averta-ExtraBold.woff2") format("woff2"), url("../fonts/Averta-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "DomaineDisp";
	src: url("../fonts/DomaineDisp-Regular.woff2") format("woff2"), url("../fonts/DomaineDisp-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "DomaineDisp";
	src: url("../fonts/DomaineDisp-Medium.woff2") format("woff2"), url("../fonts/DomaineDisp-Medium.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
