//grid
$xs:  320px;
$md:  768px;
$xl:  1150px;

//colors
$white:  #fff;
$black:  #000;
$tundora: #9fa;
$brown: brown;

//fonts
$font_1: 'Averta', sans-serif;
$font_2: 'DomaineDisp', serif;
